<!-- Start About
============================================= -->
<div class="about-area de-padding posi-rel" style="background-image: url(../assets/img/header/header-bg.jpg)">
	<div class="container">
	  <div class="about-wrapper">
		<div class="about-left">
		  <span class="hero-p1">Bienvenido </span>
		  <h2>
			Comienza una carrera exitosa con nosotros ¿Qué esperas para iniciar?
		  </h2>
		  <p>
			El instituto Intebien le ofrece formación profesional en los diferentes sectores del 
			trabajo, de forma presencial y virtual, con horarios flexibles, facilidad de pago y
			practicas garantizadas.
		  </p>
		  <div class="about-opt grid-2">
			<div class="about-opt-box">
			  <img src="assets/img/about/about-icon.png" alt="thumb">
			  <h5>24/7 Plataforma virtual</h5>
			  <p>
				
			  </p>
			</div>
			<div class="about-opt-box">
			  <img src="assets/img/about/about-icon-2.png" alt="thumb" style="align-items: center;">
			  <h5>Profesores certificados </h5>
			  <p>
				
			  </p>
			</div>
		  </div>
		</div>
		<div class="about-right">
		  <div class="about-right-pic" style="display: flex; justify-content: center; align-items: center;">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/_MAj5lnd_ms" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			<div class="about-ply-btn">
			  <a href="#" class="video-play-btn"><i class="fas fa-play"></i></a>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <!-- End About -->
  
		
