<!-- Start About
		============================================= -->
		<div class="about-area de-padding posi-rel" style="background-image: url(../assets/img/header/header-bg.jpg)">
			<div class="container">
				<div class="about-wrapper">
					<div class="about-left">
						<span class="hero-p1">WELCOME TO lasson</span>
						<h2>
							Start profitable career with us What about Lasson.
						</h2>
						<p>
							Consequuntur atque bibendum sequi vivamus aliqua senectus hendrerit consectetur
							tristique, consequatur laborum unde, aliquet laboris cillum sollicitudin pretium
							doloribus officia quia tincidunt? Eleifend dis, tempora, quam
						</p>
						<div class="about-opt grid-2">
							<div class="about-opt-box">
								<img src="assets/img/about/about-icon.png" alt="thumb">
								<h5>24/7 Support Online-Offline</h5>
								<p>
									Commodo numquam occaecati ullamcorper, aliqua eget. Repellendus aute sem saepe.
								</p>
							</div>
							<div class="about-opt-box">
								<img src="assets/img/about/about-icon-2.png" alt="thumb">
								<h5>Well Teaching System</h5>
								<p>
									Commodo numquam occaecati ullamcorper, aliqua eget. Repellendus aute sem saepe.
								</p>
							</div>
						</div>
					</div>
					<div class="about-right">
						<div class="about-right-pic">
							<img src="./assets/img/about/about-right-pic-2.jpg" alt="thumb">
							<div class="about-ply-btn">
								<a href="#" class="video-play-btn"><i class="fas fa-play"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End About-->
