<!-- Start Review
		============================================= -->
		<div class="review-area de-padding" style="background: url(assets/img/header/header-bg.jpg)">
			<div class="container">
				<div class="row">
					<div class="col-xl-8 offset-xl-2">
						<div data-text="Clients" class="site-title wh text-center">
							<img src="assets/img/heading/choose.png" alt="thumb">
							<span class="sub-head">#Experiencia Intebien</span>
							<h2>Educación de calidad garantizada</h2>
						</div>
					</div>
				</div>
				<div class="review-wrapper owl-carousel owl-theme">
					<div class="review-box">
						<div class="review-header">
							<img src="assets/img/review/user-1.png" alt="thumb">
							<img src="assets/img/review/qoute.png" alt="thumb">
						</div>
						<div class="review-text">
							<h5>Sraties Morgan - <span> Manager of DMD</span></h5>
							<p>
								Sociis aenean Quaerat nobis! Phasellus elit perferendis occaecato Blandit excepturi, fames diam molestias pellentesque sequi.
							</p>
						</div>
						<div class="review-bottom">
							<span class="review-line"></span>
							<div class="reviw-rating">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
							</div>
						</div>
					</div>
					<div class="review-box">
						<div class="review-header">
							<img src="assets/img/review/user-2.png" alt="thumb">
							<img src="assets/img/review/qoute.png" alt="thumb">
						</div>
						<div class="review-text">
							<h5>Sraties Morgan - <span> Manager of DMD</span></h5>
							<p>
								Sociis aenean Quaerat nobis! Phasellus elit perferendis occaecato Blandit excepturi, fames diam molestias pellentesque sequi.
							</p>
						</div>
						<div class="review-bottom">
							<span class="review-line"></span>
							<div class="reviw-rating">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
							</div>
						</div>
					</div>
					<div class="review-box">
						<div class="review-header">
							<img src="assets/img/review/user-3.png" alt="thumb">
							<img src="assets/img/review/qoute.png" alt="thumb">
						</div>
						<div class="review-text">
							<h5>Sraties Morgan - <span> Manager of DMD</span></h5>
							<p>
								Sociis aenean Quaerat nobis! Phasellus elit perferendis occaecato Blandit excepturi, fames diam molestias pellentesque sequi.
							</p>
						</div>
						<div class="review-bottom">
							<span class="review-line"></span>
							<div class="reviw-rating">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
							</div>
						</div>
					</div>
					<div class="review-box">
						<div class="review-header">
							<img src="assets/img/review/user-2.png" alt="thumb">
							<img src="assets/img/review/qoute.png" alt="thumb">
						</div>
						<div class="review-text">
							<h5>Sraties Morgan - <span> Manager of DMD</span></h5>
							<p>
								Sociis aenean Quaerat nobis! Phasellus elit perferendis occaecato Blandit excepturi, fames diam molestias pellentesque sequi.
							</p>
						</div>
						<div class="review-bottom">
							<span class="review-line"></span>
							<div class="reviw-rating">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Review -->
