<div id="home" class="hero-section">
  <div class="hero-sliderr">
    <!-- owl Slider Begin -->
    <div class="hero-single" data-background="../assets/img/header/header-bg.jpg">
      <div class="hero-shapes">
        <img src="./assets/img/header/header-2.png" alt="thumb">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xl-6">
            <div class="hero-content">
              <span class="hero-p1">Educación de calidad </span>
              <h2>
                Emprende Aprendiendo
              </h2>
              <p style="font-size: 24px;">
                Intebien, un paso a tu futuro con éxito 
              </p>
              <div class="hro-btn">
                <a href="#" class="theme-btn">Conoce nuestros cursos<i class="ti ti-arrow-right"></i></a>
                <a href="#" class="theme-btn theme-btn-active">Contáctanos</a>
              </div>
            </div>
          </div>
          <div class="col-xl-5">
            <div class="right-bg">
            </div>
          </div>
        </div>
      </div>
    </div><!-- single Slider End -->
  </div>
</div>
