<div class="single-area de-padding clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <div class="single-content">
                    
                    
                    <div class="image-container">
                        <img src="/assets/img/course/tension.jpg" style="max-width: 600px; height: auto;">
                      </div>
                <div class="course-syl-con mt-30">
                    <div class="course-syl-con-header">
                        <h4>Descripción</h4>
                        <p>
                            El programa Técnico Laboral por Competencias en Instalación y Reparación de Redes en Baja Tensión, ofrecido por el Instituto INTEBIEN en la ciudad de Soledad, Atlántico. En el mundo actual, donde la energía eléctrica es fundamental para el desarrollo de la sociedad, existe una creciente demanda de profesionales altamente capacitados en el diseño, instalación y mantenimiento de redes eléctricas en baja tensión. Este programa técnico está diseñado para brindar a los estudiantes las habilidades y competencias necesarias para desempeñarse de manera efectiva y eficiente en el mercado laboral de este sector en constante evolución. 
                        </p>
                        <p class="mb-0">
                            A través de una metodología que combina la modalidad virtual y presencial, nuestros estudiantes tendrán la oportunidad de desarrollar sus habilidades prácticas y teóricas, con el fin de convertirse en técnicos altamente capacitados y comprometidos con la seguridad y el cuidado del medio ambiente. En este programa, nuestros estudiantes contarán con el apoyo de docentes altamente calificados y de un ambiente académico propicio para su desarrollo profesional y personal. ¡Bienvenidos al programa Técnico Laboral por Competencias en Instalación y Reparación de Redes en Baja Tensión del Instituto INTEBIEN!
                        </p>
                    </div>
                    <div class="course-syl-con-bottom">
                        
                        <ul class="course-li-1">
                      
                        </ul>
                        <a href="https://wa.me/573245764918?text=Hola,%20me%20gustar%C3%ADa%20recibir%20informaci%C3%B3n%20sobre%20los%20cursos">
                            <button class="btn btn-warning btn-block"> <h5>Consultar precio del programa</h5></button>
                          </a>
     
                <div class="single-content-share">
                    <h5>Síguenos:</h5>
                    <ul class="team-social">
                        <li><a href="https://www.facebook.com/Intebien.News"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.instagram.com/intebien/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/@magazineintebien110"><i class="fab fa-youtube"></i></a></li>
                        
                    </ul>
                </div>
                
                    <div class="single-comments-section-form">
                        <h4 class="single-content-title">Deja un comentario</h4>
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Name*">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Your Email*">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5" placeholder="Your Comment*"></textarea>
                                    </div>
                                    <button type="submit">
                                        Enviar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            </div>
            <div class="col-xl-4">
                <aside class="sidebar">
                    <!--Search-->
                    <div class="sidebar-widget search">
                        <form>
                            <input type="text" placeholder="Search">
                            <button class="sub-btn"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                    <!--Course-->
                    <div class="course-left-box crs-post">
                        <h5 class="course-left-title">Más Cursos</h5>
                        <div class="course-post">
                            <div class="course-post-wrp">
                                
                                <div class="course-post-text">
                                    <h6 routerLink="/home//infancia" style="cursor: pointer;">• Técnico laboral en atención a la primera infancia</h6>
                    
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/contable" style="cursor: pointer;">• Técnico laboral en auxiliar contable y financiero</h6>
                            <div class="course-post-text">
                                    
                                </div>      
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/farmaceutico" style="cursor: pointer;">• Técnico laboral en auxiliar en servicios farmacéuticos</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/mercadeo" style="cursor: pointer;">• Técnico laboral en mercadeo y ventas</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/audiovisual" style="cursor: pointer;">• Técnico laboral en producción audiovisual y televisión</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/secretariado" style="cursor: pointer;">• Técnico laboral en secretariado ejecutivo</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/seguridaocupacional" style="cursor: pointer;">• Técnico laboral en seguridad y salud en el trabajo</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/cocina" style="cursor: pointer;">• Técnico laboral por competencias en cocina típica colombiana e internacional</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/mecanicamotos" style="cursor: pointer;">• Técnico laboral por competencias en mecánica de motos</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/mecanicadisel" style="cursor: pointer;">• Técnico laboral por competencias en mecánica Diesel</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/reparacioncompu" style="cursor: pointer;">• Técnico laboral en mantenimiento y reparación de computadores</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/marketing" style="cursor: pointer;">• Técnico laboral en marketing laboral</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/topografia" style="cursor: pointer;">• Técnico laboral por competencias en auxiliar de topografía</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/confeccion" style="cursor: pointer;">• Técnico laboral por competencias en confección y alta costura</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/bajatension" style="cursor: pointer;">• Técnico laboral por competencias en instalación y reparación de redes en baja tensión</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/maquinaria" style="cursor: pointer;">• Técnico laboral por competencias en manejo de maquinaria pesada</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/desarollo" style="cursor: pointer;">• Técnico laboral por competencias en programación y desarrollo de software</h6>
                                </div>
                            </div>
                           

                            
                        </div>
                    </div>
                    <!--Recent Post-->
                    
                    <!--Categories-->
                    
                    <!--Tags-->
                
                </aside>
            </div>
        </div>
    </div>
</div>

