<div class="single-area de-padding clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <div class="single-content">
                    
                    
                    <div class="image-container">
                        <img src="/assets/img/course/farmac.jpg" style="max-width: 600px; height: auto;">
                      </div>
                <div class="course-syl-con mt-30">
                    <div class="course-syl-con-header">
                        <h4>Descripción</h4>
                        <p>
                            Bienvenidos al Instituto INTEBIEN, donde ofrecemos un programa técnico laboral en auxiliar en servicios farmacéuticos con modalidad virtual y presencial. Este programa está diseñado para brindar a nuestros estudiantes las habilidades y conocimientos necesarios para trabajar en el campo farmacéutico y en la atención al paciente.
                            Durante el programa, nuestros estudiantes aprenderán sobre farmacología, dispensación de medicamentos, manejo de inventario, atención al cliente y mucho más. Nuestro equipo de instructores altamente capacitados y experimentados proporcionarán una experiencia de aprendizaje dinámica y enriquecedora para garantizar que los estudiantes estén preparados para enfrentar los desafíos del mundo laboral.
                            

                        </p>
                        <p class="mb-0">
                            Ofrecemos una combinación de clases presenciales y virtuales para permitir que los estudiantes obtengan una educación de calidad sin sacrificar su comodidad o conveniencia. Los estudiantes tendrán acceso a recursos en línea, incluidas lecturas y ejercicios prácticos, así como a sesiones prácticas en nuestra instalación de laboratorio equipada con tecnología moderna y de última generación.
                            Nos enorgullece ofrecer un programa técnico laboral de calidad en auxiliar en servicios farmacéuticos que prepara a nuestros estudiantes para una carrera emocionante y gratificante en el campo de la salud. ¡Únete a nosotros y comienza a construir un futuro exitoso y lleno de oportunidades!
                            
                        </p>
                    </div>
                    <div class="course-syl-con-bottom">
                        <h5>MÓDULOS DE FORMACIÓN</h5>
                        <ul class="course-li-1">
                            <li>
                                <i class="fas fa-check"></i>
                                <span>
                        Atender y orientar a la persona en relación con sus necesidades y expectativas de acuerdo con políticas institucionales y normas de salud. 
                                </span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>
                                    Controlar las infecciones en los usuarios y su entorno de acuerdo con las buenas prácticas sanitarias.
                                </span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>
                                    Dispensar medicamentos y elementos con base en las disposiciones legales vigentes atender personas en caso de accidente, enfermedad súbita de acuerdo con protocolos de atención de primer respondiente
                                </span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>
                                    Recibir y despachar medicamentos o elementos según los requisitos exigidos
                                </span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>
                                 Negociar productos y servicios según condiciones del mercado y políticas de la empresa
                                </span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>
                               Administrar medicamentos según delegación y normativa de salud
                                </span>
                            </li>
                            
                            <li>
                                <i class="fas fa-check"></i>
                                <span>
                            Fundamentos de los sistemas informáticos y computacionales
                                </span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>
                           Introducción a la institución educativa y valores Institucionales
                                </span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>
                             Metodología de estudio
                                </span>
                            </li>
                        </ul>
                        <a href="https://wa.me/573245764918?text=Hola,%20me%20gustar%C3%ADa%20recibir%20informaci%C3%B3n%20sobre%20los%20cursos">
                            <button class="btn btn-warning btn-block"> <h5>Consultar precio del programa</h5></button>
                          </a>
     
                <div class="single-content-share">
                    <h5>Síguenos:</h5>
                    <ul class="team-social">
                        <li><a href="https://www.facebook.com/Intebien.News"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.instagram.com/intebien/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/@magazineintebien110"><i class="fab fa-youtube"></i></a></li>
                        
                    </ul>
                </div>
                
                    <div class="single-comments-section-form">
                        <h4 class="single-content-title">Deja un comentario</h4>
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Name*">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Your Email*">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5" placeholder="Your Comment*"></textarea>
                                    </div>
                                    <button type="submit">
                                        Enviar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            </div>
            <div class="col-xl-4">
                <aside class="sidebar">
                    <!--Search-->
                    <div class="sidebar-widget search">
                        <form>
                            <input type="text" placeholder="Search">
                            <button class="sub-btn"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                    <!--Course-->
                    <div class="course-left-box crs-post">
                        <h5 class="course-left-title">Más Cursos</h5>
                        <div class="course-post">
                            <div class="course-post-wrp">
                                
                                <div class="course-post-text">
                                    <h6 routerLink="/home//infancia" style="cursor: pointer;">• Técnico laboral en atención a la primera infancia</h6>
                    
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/contable" style="cursor: pointer;">• Técnico laboral en auxiliar contable y financiero</h6>
                            <div class="course-post-text">
                                    
                                </div>      
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/farmaceutico" style="cursor: pointer;">• Técnico laboral en auxiliar en servicios farmacéuticos</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/mercadeo" style="cursor: pointer;">• Técnico laboral en mercadeo y ventas</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/audiovisual" style="cursor: pointer;">• Técnico laboral en producción audiovisual y televisión</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/secretariado" style="cursor: pointer;">• Técnico laboral en secretariado ejecutivo</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/seguridaocupacional" style="cursor: pointer;">• Técnico laboral en seguridad y salud en el trabajo</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/cocina" style="cursor: pointer;">• Técnico laboral por competencias en cocina típica colombiana e internacional</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/mecanicamotos" style="cursor: pointer;">• Técnico laboral por competencias en mecánica de motos</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/mecanicadisel" style="cursor: pointer;">• Técnico laboral por competencias en mecánica Diesel</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/reparacioncompu" style="cursor: pointer;">• Técnico laboral en mantenimiento y reparación de computadores</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/marketing" style="cursor: pointer;">• Técnico laboral en marketing laboral</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/topografia" style="cursor: pointer;">• Técnico laboral por competencias en auxiliar de topografía</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/confeccion" style="cursor: pointer;">• Técnico laboral por competencias en confección y alta costura</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/bajatension" style="cursor: pointer;">• Técnico laboral por competencias en instalación y reparación de redes en baja tensión</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/maquinaria" style="cursor: pointer;">• Técnico laboral por competencias en manejo de maquinaria pesada</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/desarollo" style="cursor: pointer;">• Técnico laboral por competencias en programación y desarrollo de software</h6>
                                </div>
                            </div>
                           

                            
                        </div>
                    </div>
                    <!--Recent Post-->
                    
                    <!--Categories-->
                    
                    <!--Tags-->
                
                </aside>
            </div>
        </div>
    </div>
</div>

