<!-- Start Categories
		============================================= -->
		<div class="cat-area de-padding">
			<div class="container">
				<div class="row">
					<div class="col-xl-8 offset-xl-2">
						<div data-text="categories" class="site-title text-center">
							<img src="assets/img/heading/site-top.png" alt="thumb">
							<span class="sub-head">Find Perfect one</span>
							<h2>Nuestros Cursos</h2>
						</div>
					</div>
				</div>
				<div class="cat-wrapper grid-4">
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/01.jpg" alt="thumb">
							<div class="cat-badge">
								<span>1</span>
							</div>
						</div>
						<div class="cat-title">
							<h5>Técnico laboral en atención a la primera infancia</h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
					</div>
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/02.jpg" alt="thumb">
							<div class="cat-badge">
								<span>02</span>
							</div>
						</div>
						<div class="cat-title">
							<h5>Técnico laboral en auxiliar contable y financiero</h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
					</div>
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/03.jpg" alt="thumb">
							<div class="cat-badge">
								<span>03</span>
							</div>
						</div>
						<div class="cat-title">
							<h5>Técnico laboral en auxiliar en servicios farmacéuticos</h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
					</div>
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/04.jpg" alt="thumb">
							<div class="cat-badge">
								<span>04</span>
							</div>
						</div>
						<div class="cat-title">
							<h5>Técnico laboral en mantenimiento y reparación de computadores</h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
					</div>
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/05.jpg" alt="thumb">
							<div class="cat-badge">
								<span>05</span>
							</div>
						</div>
						<div class="cat-title">
							<h5>Técnico laboral en marketing laboral</h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
					</div>
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/06.jpg" alt="thumb">
							<div class="cat-badge">
								<span>06</span>
							</div>
						</div>
						<div class="cat-title">
							<h5>Técnico laboral en mercadeo y ventas</h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
					</div>
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/07.jpg" alt="thumb">
							<div class="cat-badge">
								<span>07</span>
							</div>
						</div>
						<div class="cat-title">
							<h5>Técnico laboral en producción audiovisual y televisión</h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
					</div>
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/08.jpg" alt="thumb">
							<div class="cat-badge">
								<span>08</span>
							</div>
						</div>
						<div class="cat-title">
							<h5>Técnico laboral en secretariado ejecutivo</h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
					</div>
				</div>
			</div>
			<div class="more-btn">
				<a href="#">Ver todos los cursos<i class="ti ti-arrow-right"></i></a>
			</div>
		</div>
		<!-- End Categories-->
