<!-- Start Categories
		============================================= -->
		<div class="cat-area de-padding">
			<div class="container">
				<div class="row">
					<div class="col-xl-8 offset-xl-2">
						<div data-text="categories" class="site-title text-center">
							<img src="assets/img/heading/site-top.png" alt="thumb">
							<span class="sub-head">Encuentra el tuyo</span>
							<h2>Nuestros Cursos</h2>
						</div>
					</div>
				</div>
				<div class="cat-wrapper grid-4">
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/01.jpg" alt="thumb">
							<div class="cat-badge">
								<span>1</span>
							</div>
						</div>
						<div class="cat-title">
							<h5 routerLink="/home//infancia" style="cursor: pointer;">Técnico laboral en atención a la primera infancia</h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
					</div>
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/02.jpg" alt="thumb">
							<div class="cat-badge">
								<span>02</span>
							</div>
						</div>
						<div class="cat-title">
							<h5 routerLink="/home/contable" style="cursor: pointer;">Técnico laboral en auxiliar contable y financiero</h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
					</div>
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/03.jpg" alt="thumb">
							<div class="cat-badge">
								<span>03</span>
							</div>
						</div>
						<div class="cat-title">
							<h5 routerLink="/home/farmaceutico" style="cursor: pointer;">Técnico laboral en auxiliar en servicios farmacéuticos</h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
					</div>
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/04.jpg" alt="thumb">
							<div class="cat-badge">
								<span>04</span>
							</div>
						</div>
						<div class="cat-title">
							<h5 routerLink="/home/seguridaocupacional" style="cursor: pointer;">Técnico laboral en seguridad y salud en el trabajo</h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
					</div>
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/05.jpg" alt="thumb">
							<div class="cat-badge">
								<span>05</span>
							</div>
						</div>
						<div class="cat-title">
							<h5 routerLink="/home/cocina" style="cursor: pointer;">Técnico laboral en cocina típica nacional e internacional</h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
					</div>
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/06.jpg" alt="thumb">
							<div class="cat-badge">
								<span>06</span>
							</div>
						</div>
						<div class="cat-title">
							<h5 routerLink="/home/mercadeo" style="cursor: pointer;">Técnico laboral en mercadeo y ventas</h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
					</div>
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/07.jpg" alt="thumb">
							<div class="cat-badge">
								<span>07</span>
							</div>
						</div>
						<div class="cat-title">
							<h5 routerLink="/home/audiovisual" style="cursor: pointer;">Técnico laboral en producción audiovisual y televisión</h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
					</div>
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/08.jpg" alt="thumb">
							<div class="cat-badge">
								<span>08</span>
							</div>
						</div>
						<div class="cat-title">
							<h5 routerLink="/home/secretariado" style="cursor: pointer;">Técnico laboral en secretariado ejecutivo</h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
					</div>
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/09.jpg" alt="thumb">
							<div class="cat-badge">
								<span>09</span>
							</div>
						</div>
						<div class="cat-title">
							<h5 routerLink="/home/mecanicamotos" style="cursor: pointer;">Técnico laboral en mecánica de motos</h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
					</div>
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/10.jpg" alt="thumb">
							<div class="cat-badge">
								<span>10</span>
							</div>
						</div>
						<div class="cat-title">
							<h5 routerLink="/home/mecanicadisel" style="cursor: pointer;">Técnico laboral en mecánica Diesel</h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
						
					</div>
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/11.jpg" alt="thumb">
							<div class="cat-badge">
								<span>11</span>
							</div>
						</div>
						<div class="cat-title">
							<h5 routerLink="/home/bajatension" style="cursor: pointer;">Técnico laboral en instalación y reparación de redes en baja tensión</h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
						
					</div>
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/12.jpg" alt="thumb">
							<div class="cat-badge">
								<span>12</span>
							</div>
						</div>
						<div class="cat-title">
							<h5 routerLink="/home/confeccion" style="cursor: pointer;">Técnico laboral en confección y alta costura</h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
						
					</div>
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/13.jpg" alt="thumb">
							<div class="cat-badge">
								<span>13</span>
							</div>
						</div>
						<div class="cat-title">
							<h5 routerLink="/home/desarollo" style="cursor: pointer;">Técnico laboral en programación y desarrollo de software</h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
						
					</div>
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/14.jpg" alt="thumb">
							<div class="cat-badge">
								<span>14</span>
							</div>
						</div>
						<div class="cat-title">
							<h5 routerLink="/home/maquinaria" style="cursor: pointer;">Técnico laboral en manejo de maquinaria pesada </h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
						
					</div>
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/15.jpg" alt="thumb">
							<div class="cat-badge">
								<span>15</span>
							</div>
						</div>
						<div class="cat-title">
							<h5 routerLink="/home/marketing" style="cursor: pointer;">Técnico laboral en marketing laboral</h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
						
					</div>
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/16.jpg" alt="thumb">
							<div class="cat-badge">
								<span>16</span>
							</div>
						</div>
						<div class="cat-title">
							<h5 routerLink="/home/reparacioncompu" style="cursor: pointer;">Técnico laboral en mantenimiento y reparación de computadores</h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
						
					</div>
					<div class="cat-box">
						<div class="cat-pic">
							<img src="assets/img/categories/17.jpg" alt="thumb">
							<div class="cat-badge">
								<span>17</span>
							</div>
						</div>
						<div class="cat-title">
							<h5 routerLink="/home/topografia" style="cursor: pointer;">Técnico laboral por competencias en auxiliar de topografía</h5>
							<span><i class="ti ti-arrow-right"></i></span>
						</div>
						
					</div>
					
					
				</div>
			</div>
			<div class="more-btn">
				<a href="#">Ver todos los cursos<i class="ti ti-arrow-right"></i></a>
			</div>
		</div>
		<!-- End Categories-->
