<div class="single-area de-padding clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <div class="single-content">
                    
                    
                    <div class="image-container">
                        <img src="/assets/img/course/compu.jpg" style="max-width: 600px; height: auto;">
                      </div>
                <div class="course-syl-con mt-30">
                    <div class="course-syl-con-header">
                        <h4>Descripción</h4>
                        <p>
                            El programa Técnico Laboral en Mantenimiento y Reparación de Computadores está diseñado para brindar a los estudiantes las habilidades y competencias necesarias para destacarse en el campo de la tecnología de la información y la comunicación. Durante el programa, los estudiantes aprenderán técnicas de reparación y mantenimiento de computadores, diagnóstico de fallas, instalación y configuración de sistemas operativos, manejo de redes y seguridad informática, entre otras habilidades fundamentales.
                            Nuestro equipo de instructores altamente capacitados y con amplia experiencia en la industria, estarán a disposición de los estudiantes para brindarles una formación teórica y práctica, utilizando tecnología de última generación y herramientas especializadas.
                            

                        </p>
                        <p class="mb-0">
                            Los estudiantes tendrán la oportunidad de desarrollar habilidades en el manejo de herramientas y software de diagnóstico, ensamblaje y desmontaje de componentes, así como la instalación y configuración de programas y sistemas operativos.
Este programa es una excelente opción para aquellos que buscan iniciar una carrera en el mundo de la tecnología de la información y la comunicación o para aquellos que buscan mejorar sus habilidades y competencias en estas áreas. Estamos seguros de que nuestros estudiantes estarán preparados para enfrentar los retos de un mundo laboral altamente competitivo y lograr el éxito en sus carreras. ¡Bienvenidos al programa Técnico Laboral en Mantenimiento y Reparación de Computadores!

                        </p>
                    </div>
                    <div class="course-syl-con-bottom">
                        <h5></h5>
                        <ul class="course-li-1">
                            
                        </ul>
                        <a href="https://wa.me/573245764918?text=Hola,%20me%20gustar%C3%ADa%20recibir%20informaci%C3%B3n%20sobre%20los%20cursos">
                            <button class="btn btn-warning btn-block"> <h5>Consultar precio del programa</h5></button>
                          </a>
     
                <div class="single-content-share">
                    <h5>Síguenos:</h5>
                    <ul class="team-social">
                        <li><a href="https://www.facebook.com/Intebien.News"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.instagram.com/intebien/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/@magazineintebien110"><i class="fab fa-youtube"></i></a></li>
                        
                    </ul>
                </div>
                
                    <div class="single-comments-section-form">
                        <h4 class="single-content-title">Deja un comentario</h4>
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Name*">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Your Email*">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5" placeholder="Your Comment*"></textarea>
                                    </div>
                                    <button type="submit">
                                        Enviar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            </div>
            <div class="col-xl-4">
                <aside class="sidebar">
                    <!--Search-->
                    <div class="sidebar-widget search">
                        <form>
                            <input type="text" placeholder="Search">
                            <button class="sub-btn"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                    <!--Course-->
                    <div class="course-left-box crs-post">
                        <h5 class="course-left-title">Más Cursos</h5>
                        <div class="course-post">
                            <div class="course-post-wrp">
                                
                                <div class="course-post-text">
                                    <h6 routerLink="/home//infancia" style="cursor: pointer;">• Técnico laboral en atención a la primera infancia</h6>
                    
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/contable" style="cursor: pointer;">• Técnico laboral en auxiliar contable y financiero</h6>
                            <div class="course-post-text">
                                    
                                </div>      
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/farmaceutico" style="cursor: pointer;">• Técnico laboral en auxiliar en servicios farmacéuticos</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/mercadeo" style="cursor: pointer;">• Técnico laboral en mercadeo y ventas</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/audiovisual" style="cursor: pointer;">• Técnico laboral en producción audiovisual y televisión</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/secretariado" style="cursor: pointer;">• Técnico laboral en secretariado ejecutivo</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/seguridaocupacional" style="cursor: pointer;">• Técnico laboral en seguridad y salud en el trabajo</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/cocina" style="cursor: pointer;">• Técnico laboral por competencias en cocina típica colombiana e internacional</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/mecanicamotos" style="cursor: pointer;">• Técnico laboral por competencias en mecánica de motos</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/mecanicadisel" style="cursor: pointer;">• Técnico laboral por competencias en mecánica Diesel</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/reparacioncompu" style="cursor: pointer;">• Técnico laboral en mantenimiento y reparación de computadores</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/marketing" style="cursor: pointer;">• Técnico laboral en marketing laboral</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/topografia" style="cursor: pointer;">• Técnico laboral por competencias en auxiliar de topografía</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/confeccion" style="cursor: pointer;">• Técnico laboral por competencias en confección y alta costura</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/bajatension" style="cursor: pointer;">• Técnico laboral por competencias en instalación y reparación de redes en baja tensión</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/maquinaria" style="cursor: pointer;">• Técnico laboral por competencias en manejo de maquinaria pesada</h6>
                                </div>
                            </div>
                            <div class="course-post-wrp">
                                <div class="course-post-text">
                                    <h6 routerLink="/home/desarollo" style="cursor: pointer;">• Técnico laboral por competencias en programación y desarrollo de software</h6>
                                </div>
                            </div>
                           

                            
                        </div>
                    </div>
                    <!--Recent Post-->
                    
                    <!--Categories-->
                    
                    <!--Tags-->
                
                </aside>
            </div>
        </div>
    </div>
</div>
