<!-- Start Team
		============================================= -->
		<div class="team-area de-padding">
			<div class="container">
				<div class="row">
					<div class="col-xl-8 offset-xl-2">
						<div data-text="Professors" class="site-title text-center">
							<img src="assets/img/heading/choose.png" alt="thumb">
							<span class="sub-head">Our Professor</span>
							<h2>Our expert teaching advisor</h2>
						</div>
					</div>
				</div>
				<div class="team-wrapper owl-carousel owl-theme">
					<div class="team-box">
						<div class="team-pic">
							<img src="assets/img/team/team-bg-1.jpg" alt="thumb">
							<div class="team-social">
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fas fa-basketball-ball"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="team-info">
							<h5>Cardu Manyon</h5>
							<span>Teacher of Development Company</span>
						</div>
					</div>
					<div class="team-box">
						<div class="team-pic">
							<img src="./assets/img/team/team-bg-1.jpg" alt="thumb">
							<div class="team-social">
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fas fa-basketball-ball"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="team-info">
							<h5>Marshall Harris</h5>
							<span>Web Designer</span>
						</div>
					</div>
					<div class="team-box">
						<div class="team-pic">
							<img src="assets/img/team/team-bg-1.jpg" alt="thumb">
							<div class="team-social">
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fas fa-basketball-ball"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="team-info">
							<h5>Nicholas Gregory</h5>
							<span>Web Developer</span>
						</div>
					</div>
					<div class="team-box">
						<div class="team-pic">
							<img src="assets/img/team/team-bg-1.jpg" alt="thumb">
							<div class="team-social">
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fas fa-basketball-ball"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="team-info">
							<h5>Marshall Harris</h5>
							<span>Web Designer</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Team -->
