	<!-- Start Address
		============================================= -->
		<div class="addr-area bg-2 de-padding">
			<div class="container">
				<div class="addr-wrapper grid-3">
					<div class="addr-single">
						<i class="fas fa-map-marker-alt"></i>
						<div class="addr-single-txt">
							<h5>Dirección</h5>
							<span>Carrera 19 # 24 - 16
								Soledad, Atlántico
								</span>
						</div>
					</div>
					<div class="addr-single addr-single-active">
						<i class="fas fa-phone-volume"></i>
						<div class="addr-single-txt">
							<h5>Teléfono </h5>
							<span>(+57) 324 576 4918</span>
						</div>
					</div>
					<div class="addr-single">
						<i class="fas fa-envelope"></i>
						<div class="addr-single-txt">
							<h5>Email Us</h5>
							<span>info@intebien.edu.co</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Address-->
