<!-- Start Feature
		============================================= -->
		<div class="feature-area header-1-1 de-pb">
			<div class="container">
				<div class="feature-wrapper grid-4">
					<div class="feature-box">
						<div class="feature-header">
							<div class="feature-icon">
								<i class="flaticon-corporate">.</i>
								<span>1</span>
							</div>
							<h4>Facilidad de Pago </h4>
						</div>
						<div class="feature-bottom">
							<p>
								
							</p>
							<a href="#" class="feature-btn"><i class="ti-arrow-right">.</i></a>
						</div>
					</div>
					<div class="feature-box">
						<div class="feature-header">
							<div class="feature-icon">
								<i class="flaticon-contract">.</i>
								<span>2</span>
							</div>
							<h4>Horarios flexibles </h4>
						</div>
						<div class="feature-bottom">
							<p>
							</p>
							<a href="#" class="feature-btn"><i class="ti-arrow-right">.</i></a>
						</div>
					</div>
					<div class="feature-box">
						<div class="feature-header">
							<div class="feature-icon">
								<i class="flaticon-support-2"></i>
								<span>3</span>
							</div>
							<h4>Clases virtuales y presenciales </h4>
						</div>
						<div class="feature-bottom">
							<p>
							</p>
							<a href="#" class="feature-btn">.<i class="ti-arrow-right"></i></a>
						</div>
					</div>
					<div class="feature-box">
						<div class="feature-header">
							<div class="feature-icon">
								<i class="flaticon-monitor">.</i>
								<span>4</span>
							</div>
							<h4>Servio de empleo</h4>
						</div>
						<div class="feature-bottom">
							<p>
								
							</p>
							<a href="#" class="feature-btn"><i class="ti-arrow-right">.</i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Feature-->
