<footer style="background: url(assets/img/header/header-bg.jpg)">
  <div class="cta-area">
    <div class="container">
      <div class="cta-wrapper grid-2">
        <div class="cta-left" style="background: url(assets/img/footer/contact-left-bg.png)">
          <h2>Póngase en contacto para cualquier pregunta</h2>
          <div class="cta-left-wrap">
            <div class="cta-left-single">
              <i class="fas fa-map-marker-alt"></i>
              <div class="cta-left-single-txt">
                <h5>Dirección</h5>
                <span>Carrera 19 # 24 - 16 Soledad, Atlántico</span>
              </div>
            </div>
            <div class="cta-left-single">
              <i class="fas fa-phone-volume"></i>
              <div class="cta-left-single-txt">
                <h5>Teléfono</h5>
                <span>(+57) 324 576 4918</span>
              </div>
            </div>
            <div class="cta-left-single">
              <i class="fas fa-envelope"></i>
              <div class="cta-left-single-txt">
                <h5>Email</h5>
                <span>info@intebien.edu.co</span>
              </div>
            </div>
          </div>
        </div>
        <div class="cta-right">
          <div class="contact-inputs">
            <form class="contact-form" method="post" action="assets/mail/contact.php">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" name="name" id="name">
                    <span class="alert alert-error"></span>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email">
                    <span class="alert alert-error"></span>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="comments">Mensaje</label>
                    <textarea class="form-control" id="comments" name="comments" rows="5"></textarea>
                  </div>
                  <button type="submit" name="submit" id="submit">
                    Enviar
                  </button>
                  <!-- Alert Message -->
                  <div class="alert-notification">
                    <div id="message" class="alert-msg"></div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-widget">
    <div class="container">
      <div class="footer-widget-wrapper grid-4 de-padding">
        <div class="footer-widget-box ab-us">
          <h4 class="foo-widget-title">Intebien</h4>
          <p>
            Emprende Aprendiendo
          </p>
          <div class="footer-hours">
            <ul>
              <li><i class="fas fa-clock"></i> Horario</li>
              <li><span>9 am - 5pm</span></li>
            </ul>
          </div>
        </div>
        <div class="footer-widget-box footer-cat">
          <h4 class="foo-widget-title">Preferidos</h4>
          <ul class="foo-list">
            <li><a href="#">Primera infancia</a></li>
            <li><a href="#">Auxiliar contable y financiero</a></li>
            <li><a href="#">Auxiliar en servicios farmacéuticos</a></li>
            
          </ul>
        </div>
        <div class="footer-widget-box footer-link">
          <h4 class="foo-widget-title">Síguenos</h4>
          <ul class="foo-list">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Youtube</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
        </div>
        <div class="footer-widget-box footer-sub">
          <h4 class="foo-widget-title">Suscríbete </h4>
          <p>
            Suscríbete para recibir noticias de los programas y descuentos 
          </p>
          <div class="subscribe">
            <form>
              <input type="text" placeholder="Type Your Email">
              <button type="submit"><i class="fas fa-location-arrow"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <p>Copyright © 2023. All Rights Reserved.</p>
        <ul class="footer-social">
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>	
